{% extends "partials/base.html" %}

{{ blog_content }}

{% block titlepage %} {{ page.title }} {% endblock %}

{% block content %}
<div class="article">
	┌────┘
	<div class="article-title">
		│<br>
		│<br>
		├────
		<span>
			{{page.title}}
		</span>
	</div>
	<div class="date">
		│<br>
		├────
		<span>
			{{page.meta.date}}
		</span>
	<br>
	<div class="article-content">
		{{ page.content}}
	</div>
</div>
{% endblock %}

{#
{% block log %}
{% include 'partials/articles.html' %}
{% endblock %}
#}
