
<div id="list-blog">
	{% for item in nav %}
	{% if (item.title == 'Blog') %}
	<ul>
		┐<br>
		{% for i in range(1) %}
		{% for article in item.children %}
			{% if article.meta.public == True %}
		<li class="{% if page.title == article.title %}selected{% endif %}">
				<a href="/{{ article.url }}">
					<span class="date">{{ article.meta.date }} </span>
					<span class="date">{{ article.meta.date2 }} </span>
					<span class="article-title"> ── {{ article.title }}</span>
					<span class="tags">──
						{% set tags = article.meta.tags.split(',') %}
						{% for tag in tags %}
							<span class="tag">
								{{ tag }}
							</span>
						{% endfor %}
					</span>
				</a>
			</li>
			{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>
	{% endif %}
	{% endfor %}
	
</div>
