<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
	<title>{{ config.site_name }} - {% block titlepage %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
{% block body %}
<body>
	<main>
	<section class="left">
		<header>
			<div class="header-title title">
				<a href="/">
					{{ config.site_name }} 
				</a>
					{# <span class="desktop"> ┬────────────────────────────────────────────────────────────────────────────────────────────────────────── #}
					{# </span> #}
			</div>
		</header>
			{% block content %}{% endblock %}
	</section>
		<section class="right">
			{% block log %}{% endblock %}
		</section>
	</main>
	{% if "i18n" in config.plugins %}
		{% include "partials/i18n_languages.html" %}
	{% endif %}
</body>
</html>
{% endblock %}