{{ page.slug }}
<div class="languages">
	{% for lang, display in config.plugins.i18n.config.languages.items() -%}
	    <div class="lang {% if page.url|trim == lang|trim ~ '/' %}current{% endif %}">
				<a href="/{{ lang }}/">{{ lang }}</a>
			</div>
	{% endfor %}

    {#
{% if nav|length>1 %}
<nav>
    <ul>
    {% for nav_item in nav %}
			{% if nav_item.url|trim != page.url|trim %}
        <li class="{% if nav_item.active%}current{% endif %}">
            <a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
        </li>
			{% endif %}
    {% endfor %}
    </ul>
{% endif %}
</nav>
#}
</div>
